body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #333;
}
a, a:hover{
  color: #333;
  text-decoration: none;
}
a:hover{ color: #111}
.row{ margin-top: 50px; }
.row.header h1{
  font-family: Pacifico;
  font-size: 72px;
  font-weight: bold;
  margin-top: 40px;
}
p.links{
  font-size: 22px;
}
p:not(.links) a{
  border-bottom: 1px dotted #333;
}
p:not(.links) a:hover{
  border-bottom: none;
}
