body{
  background-color: #fffbf7;
  font-family: 'Source Sans Pro', sans-serif;
  .container{
    margin-top:50px;
    &.hero{
      text-align: center;
      h1{
        font-family: 'Pacifico';
        font-size: 5em;
        color: #bb7461;
        font-weight: bold;
        margin-top: 50px;
      }
      img{
        margin: 0 auto;
      }
    }
    &.blurb{
      text-align: center;
    }
    &.contact{
      text-align: center;
      font-size: 24px;
      a{
        &:hover{
          text-decoration: none;
          border: 0;
        }
      }
    }
  }
}

a{ 
  color: #bb7461; 
}

