body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #3b444c;
}
a, a:hover{
  color: #3b444c;
  text-decoration: none;
}
a:hover{ color: black }
.row{ margin-top: 50px; }
.row.header h1{
  font-family: Pacifico;
  font-size: 72px;
  font-weight: bold;
  margin-top: 40px;
}
p.links{
  font-size: 22px;
}
