body {
  background-color: #fffbf7;
  font-family: 'Source Sans Pro', sans-serif; }
  body .container {
    margin-top: 50px; }
    body .container.hero {
      text-align: center; }
      body .container.hero h1 {
        font-family: 'Pacifico';
        font-size: 5em;
        color: #bb7461;
        font-weight: bold;
        margin-top: 50px; }
      body .container.hero img {
        margin: 0 auto; }
    body .container.blurb {
      text-align: center; }
    body .container.contact {
      text-align: center;
      font-size: 24px; }
      body .container.contact a:hover {
        text-decoration: none;
        border: 0; }

a {
  color: #bb7461; }
