/*
Syntax error: Inconsistent indentation: previous line was indented by 3 spaces, but this line was indented by 1 space.
        on line 8 of css/normalize.css

3: /* ==========================================================================
4:    HTML5 display definitions
5:    ========================================================================== */
6: 
7: /*
8:  * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
9:  */
10: 
11: article,
12: aside,
13: details,

Backtrace:
css/normalize.css:8
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/engine.rb:438:in `try_comment'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/engine.rb:393:in `block in tabulate'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/engine.rb:382:in `each'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/engine.rb:382:in `each_with_index'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/engine.rb:382:in `tabulate'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/engine.rb:345:in `_to_tree'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/plugin.rb:107:in `method_missing'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/exec.rb:452:in `watch_or_update'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/exec.rb:315:in `process_result'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/exec.rb:41:in `parse'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/lib/sass/exec.rb:21:in `parse!'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.9/bin/sass:9:in `<top (required)>'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/bin/sass:23:in `load'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/bin/sass:23:in `<main>'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `eval'
/Users/shaz/.rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Inconsistent indentation: previous line was indented by 3 spaces, but this line was indented by 1 space.\A         on line 8 of css/normalize.css\A \A 3: /* ==========================================================================\A 4:    HTML5 display definitions\A 5:    ========================================================================== */\A 6: \A 7: /*\A 8:  * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.\A 9:  */\A 10: \A 11: article,\A 12: aside,\A 13: details,"; }
