doctype html
title Shaz Amjad - hacker, jetsetter, competitive dancer and non-burly biker
link(href='//fonts.googleapis.com/css?family=Source+Code+Pro:300,500', rel='stylesheet', type='text/css')
link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
link(href='style.css', rel='stylesheet', type='text/css')

img(class="circle", src="img/shaz.jpg")
h1 Shaz Amjad
  br
  small hacker, jetsetter, competitive dancer and non-burly biker

p.space
  a(href="//twitter.com/@shazamjad"): i(class='fa fa-twitter')
  a(href="//instagram.com/_shazm/"): i(class='fa fa-instagram')
  a(href="//github.com/shazamjad"): i(class='fa fa-github')

block content
