!!! 5
%html
  %head
    %meta{:charset => "utf-9"}/
    %meta{:name => "description", :content => "A nomadic developer currently in settling in Melbourne as Venuemob's first hire."}/
    %meta{:name => "keywords", :content => "shaz amjad, web developer, php, mysql, javascript"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/

    %link{:rel => "shortcut icon", :href => "favicon.ico"}
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css", :type => 'text/css' }
    %link{:rel => "stylesheet", :href => "//fonts.googleapis.com/css?family=Source+Sans+Pro:200|Pacifico", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "css/main.css", :type => "text/css"}

    %title Shaz Amjad - dev, dancer, motorcycle lover
  %body

    .container.hero
      .row
        .col-lg-3.col-offset-3
          %h1 Shaz Amjad
        .col-lg-3
          %img{:src => 'img/shazamjad.png'}

    .container.blurb
      .row
        .col-lg-6.col-offset-3
          %p A web developer with a growing interest in encryption and peer-to-peer technology.
          %p Learning Android (Java) development, boasting about being the first hire at Venuemob, and currently trying to keep that nomadic itch under wraps.

    .container.contact
      .row
        .col-lg-6.col-offset-3
          %hr/
          %a{:href => 'mailto:shazamjad@gmail.com'} 
            %i.icon-envelope
          %a{:href => 'http://uk.linkedin.com/in/shazamjad'}
            %i.icon-linkedin
          %a{:href => 'http://www.facebook.com/shaz.amjad'}
            %i.icon-facebook
          %a{:href => 'https://plus.google.com/100161086990545151044'}
            %i.icon-google-plus
          %a{:href => 'http://www.twitter.com/shazamjad'}
            %i.icon-twitter
          %a{:href => 'http://stackoverflow.com/users/843130/shaz-amjad'}
            %i.icon-stackexchange
          %hr/
