body{
  font-family: 'Source Code Pro', Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4rem;
  max-width: 80ch;
  background-color: #fff9f2;
  color: #111;
  margin: 1em auto;
  padding: 1em;
}
h1, h2{ font-weight: 500; }
h1{ font-size: 1.5rem; }
h2{ font-size: 1.25rem; }
hr{
  border: 0;
  margin: 2rem auto;
  height: 1px;
  background: #ccc;
}
small{ font-size:0.75em }
a, a:active, a:visited{ 
  text-decoration: underline;
  color: #236037;
}
a:hover{ text-decoration: none; }
img.circle{
  height:100px;
  border-radius: 50px;
}
