html, body{
  font-family: 'Source Code Pro', Verdana, sans-serif;
  font-size: 1em;
  font-weight: 300;
}
h1, h2{ font-weight: 500; }
h1{ font-size: 1.25em; }
h2{ font-size: 1.15em; }
hr{
  border: 0;
  margin: 2em auto;
  height: 1px;
  background: #ccc;
}
